@use "../abstracts" as *;
@use "../base" as *;

.intro {
  display: flex;
  color: rgba($white, 0.7);

  h2 {
    color: $white;

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 20%;
      background-color: rgba($white, 0.5);
      margin: 1em auto;
    }
  }
}

.intro-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $dark-blue;
  padding: 2.5em 5vw;
  text-align: center;
}

.intro-left img,
.intro-right img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
}
