@use "../abstracts" as *;
@use "../base" as *;

.welcome {
  position: relative;
  display: flex;
  background-image: url("../../assets/images/welcome-bg.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    font-size: 2.5rem;
    font-weight: $fw-normal;
    color: $dark-blue;
    line-height: 2;
    text-align: center;

    span {
      @include sans-serif($fs: 8rem, $color: $white);
      display: block;
      text-indent: 0.3em;
    }
  }
}
